* {
	box-sizing: border-box;
}
body{
	font-family: 'Open Sans', sans-serif;
	background-color: #c2e7da;
	margin: 0;
	padding: 0;
 	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

img {
	height: 150px;
	border-radius: 50%;
	border: solid #fff 1px;
}

main, header{
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 0 15px 0 15px;
	justify-content: center;
	align-items: center;
}

h1 {
	font-size: 24px;
	text-align: center;
	padding: 0;
	margin: 0;
}

header > p {
	padding: 0;
	font-size: 20px;
	text-align: center;
	font-weight: 600;
}

article {
	display: flex;
	flex-direction: column;

	align-items: center;
	justify-content: left;

	margin: 20px 0 15px 0;
	width: 100%;

	background-color: #6290c3;

	border: solid #fff 1px;
	border-radius: 60px;
	padding: 20px;
}

a{
	font-size: small;
	color: inherit;
	text-decoration: none;
}

.image{
	position: relative;
	padding: 0 0 40px 0;
	border-bottom: dashed #fff 2px;
}

.carta {
	text-align: center;
	padding: 0 0 0 20px;
	position: relative;
	width: 100%;
}

.inicial {
	font-size: 30px;
	position: absolute;
	text-align: center;
	left: 75%;
	top: 56%;
	height: 40px;
	width: 40px;
	color: #fff;
	background-color: #600;
	border-radius: 50%;
}

article > div > img {
	transition: all 1s;
}

article:hover > div > img{
	transform: scaleX(-1);
}

.fa-check-circle{
	color: #060;
	background-image: radial-gradient(at center, #fff 50%, transparent 50%);
}

.icono {
	position: absolute;
	right: 0;
	bottom: 0;
	display: none;
}

article:hover > div > .icono {
	display: unset;
}

.carta > div {
	display: flex;
	justify-content: center;
	width: 100%;
}

.carta > div > p {
	display: inline;
}

.carta > div > .texto {
	width: 120px;
}

.carta > div > .datos {
	width: 120px;
}

@media (min-width: 1200px) {
	main, header {
		width: 1140px;
	}
}

@media (min-width: 800px) {
	article{
		width: 80%;
	}
}

@media (min-width: 555px) {
	h1 {
		font-size: 24px;
	}

	header > p {
		font-size: medium;
	}

	.image{
		border-bottom: none;
		border-right: dashed #fff 2px;
		display: flex;
		justify-content: center;
	}

	article {
		flex-direction: row;
	}

	.carta {
		text-align: left;
	}
	.image, .carta {
		padding: 0 20px 0 15px 0;
		width: 50%;
	}
	.inicial {
		left: 65%;
		top: 50%;
	}

	.carta > div > .texto {
		width: 35%;
	}

	.carta > div > .datos {
		width: 65%;
	}
}
