* {
	box-sizing: border-box;
}
body{
	font-family: 'Open Sans', sans-serif;
	background-color: #c2e7da;
	margin: 0;
	padding: 0;
 	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

img {
	height: 200px;
	border-radius: 50%;
}

main, header{
	display: flex;
	flex-direction: column;
	padding: 0 15px 0 15px;
	justify-content: center;
	align-items: center;
}

@media (max-width: 1200px) {
	main, header {
		width: 100%;
	}

}

@media (min-width: 1200px) {
	main, header {
		width: 1140px;
	}
}

@media (max-width: 800px) {
	article{
		width: 100%;
		background-color: blue;
	}
}

@media (min-width: 800px) {
	article{
		width: 80%;
		background-color: red;
	}
}
